@inject NavigationManager Navigation
@inherits LayoutComponentBase
@inject IJSRuntime Js
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<div>
    <main>
        @if (!Navigation.Uri.Contains("login"))
        {
            <MenuComponent />
        }
        <Toast />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await HandleUnauthorizedUser();
    }

    private async Task HandleUnauthorizedUser()
    {
        var refreshToken = await LocalStorage.GetItemAsync<string>("RefreshToken");

        if (string.IsNullOrEmpty(refreshToken))
        {
            Navigation.NavigateTo("/login");
        }
    }
}
